<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Notifications</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-card *ngFor="let notification of notifications" [ngClass]="{ 'read':notification.viewed }" class="{{ notification.type }}">
		<ion-card-header>
			<ion-row>
				<ion-col>
					<strong>{{ notification.appName }}:</strong> {{ notification.title }}
				</ion-col>
				<ion-col text-right no-padding>
					<ion-note>
						{{ notification.datetime }}
					</ion-note>
				</ion-col>
			</ion-row>
		</ion-card-header>
		<ion-card-content>
			{{ notification.body }}
		</ion-card-content>
		<ion-row no-padding>
			<ion-col>
				<button ion-button clear small icon-start (click)="markAsRead(notification)">
					<ion-icon name='checkmark'></ion-icon>
				</button>
			</ion-col>
			<ion-col text-center>
				<button ion-button clear small icon-start (click)="delete(notification)">
					<ion-icon name='trash'></ion-icon>
				</button>
			</ion-col>
			<ion-col text-right>
				<a ion-button clear small icon-start href="{{ notification.url }}" *ngIf="notification.url">
					<ion-icon name='share-alt'></ion-icon>
					Go
				</a>
			</ion-col>
		</ion-row>
	</ion-card>



</ion-content>
